/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light1: #faf9f9;
  --color-grey-light2: #f4f2f2;
  --color-grey-light3: #f0eeee;
  --color-grey-light4: #ccc;
  --color-grey-dark1: #333;
  --color-grey-dark2: #777;
  --color-grey-dark3: #999;
  --white: #fff;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --border:  solid 1px var(--color-grey-dark3); }

* {
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  color: var(--color-grey-dark); }

/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light1: #faf9f9;
  --color-grey-light2: #f4f2f2;
  --color-grey-light3: #f0eeee;
  --color-grey-light4: #ccc;
  --color-grey-dark1: #333;
  --color-grey-dark2: #777;
  --color-grey-dark3: #999;
  --white: #fff;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --border:  solid 1px var(--color-grey-dark3); }

* {
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  color: var(--color-grey-dark); }

.container {
  margin: 8rem;
  background-color: var(--color-grey-light1);
  box-shadow: var(--shadow-dark); }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0; } }
  @media only screen and (max-width: 68.75em) {
    .container {
      width: 100vw;
      height: 100vh; } }

header {
  height: 7rem;
  background-color: var(--white);
  border-bottom: solid 1px var(--color-grey-light2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem; }
  @media only screen and (max-width: 36em) {
    header {
      flex-wrap: wrap;
      height: 12rem;
      align-content: space-around; } }

.content {
  display: flex;
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }
  .content .side-nav {
    flex: 0 0 20%;
    background-color: var(--color-grey-dark1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .content main {
    flex: 1; }

.top-nav {
  flex: 0 0 auto;
  display: flex;
  align-self: stretch;
  align-items: center; }
  .top-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .top-nav > *:hover {
    background-color: currentColor; }

.details {
  display: flex;
  padding: 4rem;
  background-color: var(--color-grey-light2);
  font-size: 1.4rem; }
  @media only screen and (max-width: 56.25em) {
    .details {
      padding: 0; } }
  @media only screen and (max-width: 36em) {
    .details {
      flex-direction: column; } }
  .details .description {
    background-color: white;
    flex: 0 0 60%;
    margin-right: 4rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3);
    padding: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .details .description {
        margin: 0;
        box-shadow: 0 0 0 0;
        border-right: var(--border);
        border-bottom: var(--border); } }
  .details .user-reviews {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--shadow-dark); }
    @media only screen and (max-width: 56.25em) {
      .details .user-reviews {
        box-shadow: 0 0 0 0;
        border-bottom: var(--border); } }

/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light1: #faf9f9;
  --color-grey-light2: #f4f2f2;
  --color-grey-light3: #f0eeee;
  --color-grey-light4: #ccc;
  --color-grey-dark1: #333;
  --color-grey-dark2: #777;
  --color-grey-dark3: #999;
  --white: #fff;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --border:  solid 1px var(--color-grey-dark3); }

* {
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  color: var(--color-grey-dark); }

.logo {
  height: 3.5rem;
  margin-left: 1.5rem; }

.search {
  flex: 0 0 40%;
  height: 3rem;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 36em) {
    .search {
      order: 1;
      flex: 0 0 100%;
      padding: 0 1rem; } }
  .search-input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-dark2);
    border-radius: 100px;
    border: none;
    width: 90%;
    height: 100%;
    transition: width .3s;
    text-indent: 2rem; }
    @media only screen and (max-width: 36em) {
      .search-input {
        width: 100%; } }
    .search-input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-dark3); }
    .search-input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light2); }
  .search-submit {
    border: none;
    background-color: var(--color-grey-dark2);
    margin-left: -3rem; }
    .search-submit:focus {
      outline: none; }
    .search-submit:active {
      transform: translateY(2px); }
  .search-icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-light2); }
  .search-input:focus + .search-submit {
    background-color: var(--color-grey-dark3); }

.nav-box {
  transition: all .2s;
  position: relative; }
  .nav-box:hover > svg {
    fill: var(--color-grey-light2); }
  .nav-box .bookmark-icon, .nav-box .chat-icon {
    height: 2.2rem;
    width: 2.2rem; }
  .nav-box .notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50px;
    background-color: var(--color-primary);
    color: var(--white);
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center; }

.user-photo {
  height: 5rem;
  border-radius: 50%; }

.side-nav-list {
  list-style: none;
  font-size: 1.4rem;
  margin-top: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .side-nav-list {
      display: flex;
      margin: 0; } }
  @media only screen and (max-width: 56.25em) {
    .side-nav-list li {
      flex: 1;
      display: flex;
      justify-content: center; } }
  .side-nav-list .nav-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transition: transform .2s, width .5s ease-out .2s;
    transform: scaleY(0); }
  .side-nav-list .nav-item:link, .side-nav-list .nav-item:visited {
    text-decoration: none;
    color: var(--color-grey-light1);
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .side-nav-list .nav-item:link, .side-nav-list .nav-item:visited {
        flex-direction: column;
        flex: 1;
        padding: 1rem; } }
  .side-nav-list .nav-item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav-list .side-nav-icon {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 1rem;
    fill: var(--color-grey-light1);
    z-index: 1; }
    @media only screen and (max-width: 36em) {
      .side-nav-list .side-nav-icon {
        margin-right: 0;
        margin-bottom: .5rem;
        height: 1.4rem;
        width: 1.4rem; } }
  .side-nav-list span {
    z-index: 1; }

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light1);
  text-align: center;
  padding: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .legal {
      display: none; } }

.gallery {
  display: flex; }
  .gallery-photo {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--border); }
  @media only screen and (max-width: 36em) {
    .overview {
      justify-content: space-between; } }
  .overview-heading {
    font-size: 2.2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem 2rem; }
    @media only screen and (max-width: 36em) {
      .overview-heading {
        font-size: 1.6rem;
        padding: .7rem 1.2rem; } }
  .overview-stars {
    margin-right: auto;
    display: flex; }
    @media only screen and (max-width: 36em) {
      .overview-stars {
        margin: 0; } }
  .overview-star-icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--color-primary); }
  .overview-location {
    display: flex;
    align-items: center; }
  .overview-location-icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-primary);
    margin-right: .5rem; }
  .overview-rating {
    margin-left: 2rem;
    background-color: var(--color-primary);
    padding: 0 1rem;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .overview-rating-average {
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--color-grey-light1); }
  .overview-rating-count {
    background-color: var(--color-primary);
    font-size: .8rem;
    color: var(--color-grey-light1); }

.phone {
  margin-bottom: 2rem; }

.btn-inline {
  border: none;
  color: var(--color-primary);
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  font-size: inherit;
  display: inline-block;
  background-color: transparent; }
  .btn-inline span {
    margin-left: 2px;
    transition: margin-left .2s; }
  .btn-inline:hover {
    color: var(--color-grey-dark2); }
    .btn-inline:hover span {
      margin-left: 5px; }
  .btn-inline:focus {
    outline: none;
    animation: pulse .5s infinite; }

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--border);
  border-bottom: var(--border);
  display: flex;
  flex-wrap: wrap; }
  .list-item {
    flex: 0 0 50%;
    margin-bottom: .5rem; }
    .list-item::before {
      content: "";
      background-image: url("./../img/chevron-thin-right.svg");
      background-size: cover;
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: .5rem; }
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        .list-item::before {
          -webkit-mask-image: url("./../img/chevron-thin-right.svg");
          -webkit-mask-size: cover;
          mask-image: url("./../img/chevron-thin-right.svg");
          mask-size: cover;
          background-color: var(--color-primary);
          background-image: none; } }

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark3);
  display: flex;
  align-items: center;
  position: relative; }
  .recommend-count {
    margin-right: auto; }
  .recommend-friends {
    display: flex; }
  .recommend-photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid white; }
    .recommend-photo:not(:last-child) {
      margin-right: -2rem; }

.review {
  background-color: inherit;
  padding: 3rem;
  position: relative; }
  .review-text {
    margin-bottom: 3rem; }
  .review-user {
    display: flex;
    align-items: center; }
  .review-photo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%; }
  .review-user-box {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem; }
  .review-user-name, .review-user-date {
    flex: 0 0 100%;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase; }
  .review-rating {
    color: var(--color-primary);
    font-size: 2.5rem;
    font-weight: 300;
    margin-left: auto; }
  .review::before {
    content: '\201C';
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    color: var(--color-grey-light4); }

.booking {
  padding: 3rem;
  text-align: center;
  background-color: var(--color-grey-light2); }
  .booking-heading {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.5rem;
    margin-bottom: 1.5rem; }
  .booking-btn {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 50px;
    border: none;
    color: var(--color-grey-light1);
    background-color: var(--color-primary);
    padding: 2rem 5rem;
    overflow: hidden;
    position: relative; }
  .booking .btn-visible {
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all .4s; }
  .booking .btn-invisible {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: -100%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    transition: all .4s; }
  .booking-btn:hover .btn-visible {
    transform: translateY(10rem); }
  .booking-btn:hover .btn-invisible {
    top: 35%; }
  .booking-btn:focus {
    outline: none;
    animation: pulse .3s infinite; }
